<!-- /templates/search.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Search</title>
</head>
<body>
    <h1>Search Reddit User's Most Common Subreddits and Comments by Keyword</h1>
    <form action="/search" method="post">
        <label for="username">Reddit Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="search_string">Search String:</label>
        <input type="text" id="search_string" name="search_string" required>
        
        <input type="submit" value="Search">
    </form>
</body>
</html>
